/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* reset box sizing */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* set defaults */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: 0.9em;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* container styles */
.container {
    text-align: center;
    padding: 0.8em 1.5em;
}

.logo {
    width: 120px;
    align-self: flex-start;
}

.menu {
    width: 25px;
    margin-top: 45%;
}
header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile{
    display: none;
}

.product-image {
    width: 60%;
    margin: 5em auto 3em 20%;
}

.middle-section {
    z-index: 1;
    position: relative;
}

.blue-container {
    width: 100%;
    background-color: #00C2FF;
    color: #FFF;
    margin-top: 5%;
    padding: 5em 0 2em;
    border-top-left-radius: 50px;
    transform: skewY(-2deg);
}
.blue-container ul {
    transform: skewY(2deg);
}

.blue-container:before { 
    content: "";
    width: 40px;
    height: 40px;
    background-color: #00C2FF;
    position: absolute;
    top: -38px;
    right: 0;
    z-index: -3;
}

.blue-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #FFF;
    position: absolute;
    top: -80px;
    right: 0;
    border-radius: 50%;
    z-index: -2;
}

.blue-container li {
    margin-bottom: 3em;
}

.blue-container p {
    padding: 0 1em;
}

.blue-container img {
    width: 20%;
}

.blue-container ul li:nth-child(3) img {
    width: 15%;
}


.gray-container {
    background: #F6F6F6;
    padding: 4em 0 2em;
    margin-top: -3%;
}

.gray-container ul li:nth-of-type(1) {
    margin-bottom: 5em;
}

figure {
    margin: 0;
    padding: 0;
}

cite {
    font-weight: bold;
    color: #00C2FF;
}

.get-started {
    margin-top: 5%;
}

.get-started-btn {
    text-decoration: none;
    display: inline-block;
    background-color: #00CC80;
    padding: 0.5em 3em;
    border-radius: 5em;
    color: white;
    font-size: 1.3em;
    margin: 1% auto 6%;
    width: 100%;
}


.footer-container {
    width: 100%;
    background: #3D444A;
    color: #FFF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 2em 0 1em;
}

.footer-links a{
    margin: 0.5em;
    text-decoration: none;
    color: #9D9D9D;
    font-size: 0.9em;
}

nav ul {
    position: fixed;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    text-align: left;
    background-color:rgb(56, 59, 61);
    z-index: 7;
}
nav ul li a{ 
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    background-color:rgb(74, 80, 83)
}

nav ul li a:hover {
    background-color:rgb(112, 121, 124)
}

.exit-btn {
    margin: 1em 0.5em;
    text-align: right;
    padding: 0.2em 0.5em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

/* media query for desktop version */

@media only screen and (min-width: 650px) {
    .middle-section h1{
        font-size: 3em;
    }
    .sub-head {
        font-size: 1.5em;
        margin-bottom: 10%;
    }
    .blue-container img {
        width: 20%;
    }
    .blue-container ul li:nth-child(3) img {
        width: 12%;
    }
    .blue-container ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .get-started-btn {
        width: 40%;
    }
}