/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* reset box sizing */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* set defaults */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: 0.9em;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* container styles */
.container {
    text-align: center;
    padding: 0.8em 1.5em;
}

.logo {
    width: 120px;
    align-self: flex-start;
}

.menu {
    width: 25px;
    margin-top: 45%;
}
header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile{
    display: none;
}

.product-image {
    width: 60%;
    margin: 5em auto 5em 20%;
}

.blue-container {
    width: 100%;
    background-color: #00C2FF;
    color: #FFF;
    margin-top: 5%;
    padding: 5em 0 2em;
    border-top-left-radius: 50px;
    transform: skewY(-2deg);
}
.blue-container ul {
    transform: skewY(2deg);
}

.blue-container:before { 
    content: "";
    width: 40px;
    height: 40px;
    background-color: #00C2FF;
    position: absolute;
    top: -38px;
    right: 0;
}

.blue-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #FFF;
    position: absolute;
    top: -80px;
    right: 0;
    border-radius: 50%;
}

.blue-container li {
    margin-bottom: 3em;
}

.blue-container p {
    padding: 0 1em;
}

.blue-container img {
    width: 5%;
}

.blue-container ul li:nth-child(3) img {
    width: 3em;
}


.gray-container {
    background: #F6F6F6;
    padding: 4em 0 2em;
    margin-top: -3%;
}

.gray-container ul li:nth-of-type(1) {
    margin-bottom: 5em;
}

figure {
    margin: 0;
    padding: 0;
}

cite {
    font-weight: bold;
    color: #00C2FF;
}

.get-started {
    margin-top: 7%;
}

.get-started-btn {
    text-decoration: none;
    display: inline-block;
    background-color: #00CC80;
    padding: 0.5em 3em;
    border-radius: 5em;
    color: white;
    font-size: 1.5em;
    margin: 2% auto 8%;
}

.footer-container {
    width: 100%;
    background: #3D444A;
    color: #FFF;
    padding: 2em 0;
    border-top-right-radius: 50px;
    transform: skewY(2deg);
}

.footer-container .container {
    transform: skewY(-2deg);
}

.footer-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #3D444A;
    position: absolute;
    top: -39px;
    left: 0;
}

.footer-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background: #FFF;
    position: absolute;
    top: -80px;
    left: 0;
    border-radius: 50%;
}

ul.footer-links a{
    color: #9D9D9D;
    text-decoration: none;
    margin: 0.5em;
    font-size: 0.9em;
}